{% extends "master.nunjucks" %}

{% block content %}
  <header class="header text-center">
    <div class="container">
      <h1 class="title">To continue please follow these steps</h1>
    </div>
  </header>

  <div class="container">
    <section class="subscribe">
      {# TODO: subscribe #}
    </section>
  </div>
{% endblock %}
